.contenedor{
    width: 100%;
    height: 100%;   
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.cuadrado{
    width: 200px;
    height: 200px;
}
.c-1{
    background-color: black;
}
.c-2{
    background-color: brown;
}
.c-3{
    background-color: yellow;
}
.c-4{
    background-color: pink;
}
.c-5{
    background-color: violet;
}
.c-6{
    background-color: red;
}